*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
    font-family: averia serif libre;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {

}

main {
    
}

#app {
    display: flex;
    justify-content: center;
}

#map {
    height: 25em;
    width: 25em;
    border-radius: 1em;
}

h1 {
    font-size: 3em;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    font-size: 1.5em;
    margin-bottom: auto;
}

#user-info p {
    margin-top: auto;
}