*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
    font-family: averia serif libre;
    cursor: none;
}

#cursor {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7em;
    left: 4.5em;
    transform: translate(-50%,-50%);
    pointer-events: none;
}

#ball {
    width: 25px;
    height: 25px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #091069;
    margin-bottom: 2em;
    mix-blend-mode: darken;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hydrant {
    height: 7em;
}

#app {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

#map {
    height: 25em;
    width: 100%;
    border-radius: 1em;
}

h1 {
    font-size: 3.75em;
    margin: 0em;
    margin-left: 0.2em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: auto;
}

#user-info {
    text-align: right;
}

#user-info p {
    text-align: right;
    margin-top: auto;
}

#list {
    display: flex;
    flex-direction: column;
}

.park-view {
    background-color: transparent;
}

.park-link {
    text-decoration: none;
    background-color: transparent;
}

.park-content {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    margin: 0em 1em;
}

.parks-listed:hover .park-content {
    max-height: unset;
}

.parks-listed:hover h3 {
    transform: scale(1.05);
    text-shadow: 2px 2px 0px thistle;
    transition: all 0.25s;
}

.posts-view {
    max-height: 0;
    overflow: hidden;
    position: relative;
}

.park-chat:hover .posts-view {
    max-height: 15em;
    position: relative;
    overflow: scroll;
    margin-top: 1em;
}

.park-chat:hover .pc {
    transform: scale(1.05) translateX(0.5em);
    text-shadow: 2px 2px 0px thistle;
    transition: all 0.25s;
}

h4 {
    margin: 0em;
}

.pc {
    color: #091069;
    margin: 0em;
}

.post-title {
    margin: 0.5em;
}

.post-body {
    margin: 0.25em 0em;
}

.post-author, .post-date {
    text-align: right;
    margin: 0em;
    font-size: 0.75em;
}

h3 {
    margin: 0em 0.5em;
    color: #091069;
}

hr {
    margin: 0.25em 0em;
    border-radius: 10em;
}

.hr-upper {
    height: 10px;
    border: 0;
    box-shadow: inset 0px 10px 5px -12px rgba(0, 0, 100, 0.5);
}

.hr-lower {
    height: 10px;
    border: 0;
    box-shadow: inset 0px -10px 5px -12px rgba(0, 0, 100, 0.5);
}

header a {
    cursor: none;
}

header a:hover {
    text-decoration: blink;
    color: antiquewhite;
    text-shadow: 0 0 7px #091069;
    filter: drop-shadow(1px 1px 1px #091069);
}

@media (min-width: 768px) {

    header {
        flex-direction: row;
        margin: 1em;
    }

    main {
        margin-top: 3em;
    }

    #app {
        flex-direction: row;
    }

    #list {
        margin-right: 3em;
        max-width: 20em;
    }

    #map {
        width: 25em;
    }

    h1 {
        font-size: 4em;
    }
}

@media (min-width: 1024px) {
    #map {
        height: 40em;
        width: 40em;
    }
    
    #cursor {
        top: unset;
        left: unset;
    }

    .parks-listed:hover h3 {
        transform: scale(1.5);
        text-shadow: 2px 2px 0px thistle;
    }
}