{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <title>Puppub</title>
</head>
<body>
    {% csrf_token %}
    <div id="cursor">
        <img id="ball" src="static/images/tennisballdraw.png">
    </div>
    <header>
        <div id="logo">
            <img id="hydrant" src="static/images/hydrant-doodle.png">
            <h1 id="title">Pup Pub</h1>
        </div>
        <div id="user-info">
            {% if user.is_authenticated %}
            <h2>Welcome {{ user.username }}!</h2>
            <p><a href="{% url 'logout' %}">Logout</a><p>
            {% else %}
            <h2>Welcome, Human!</h2>
            <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
            {% endif %}
        </div>
    </header>
    <main>
        <div id="app">
            <div id="list">
                <div class="parks-listed" v-for="park in parks" :key="park.id">
                    <hr>
                    {% comment %} <div class="park-view" id="park.id"> {% endcomment %}
                    <a class="park-link" href="#park.id">
                        <p>[[ park.id ]]</p>
                        <h3>[[ park.title ]]</h3>
                    </a>
                    <div class="park-content">
                        <p>[[ park.address ]]</p>
                        <p>[[ park.place_id ]]</p>
                        <p>[[ park.lat ]]</p>
                        <p>[[ park.lng ]]</p>
                    </div>
                    {% comment %} </div> {% endcomment %}
                    <hr>
                </div>
            </div>
            <div id="map"></div>
        </div>
        <script src="{% static 'js/cursor.js' %}"></script>
        <script src="{% static 'js/pete.js' %}"></script>
        <script src="{% static 'js/map.js' %}"></script>
    </main>
    <footer>
    </footer>
</body>
</html>
